<div class="card">
    <div class="image-container">
      <img [src]="imageUrl" [alt]="name" class="card-image" />
    </div>
    <div class="card-details">
      <h2 class="card-name">{{ name }}</h2>
      <p class="card-status" [ngClass]="getStatusColor(status)">
        <strong>Status:</strong> {{ status }}
      </p>
      <p class="card-species"><strong>Species:</strong> {{ species }}</p>
      <p class="card-gender"><strong>Gender:</strong> {{ gender }}</p>
      <button class="comment-button" (click)="handleCommentSubmit()">Enviar comentario</button>
    </div>
  </div>
  